# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'ctrl-cmd-s': 'treecommit:stage-selected'
  'ctrl-cmd-u': 'treecommit:unstage-selected'
  'ctrl-alt-s': 'treecommit:stage-hunk'
  'ctrl-alt-u': 'treecommit:unstage-hunk'
  'ctrl-alt-[': 'treecommit:stage-hunk-goto-next'
  'ctrl-cmd-p': 'treecommit:move-treeview-up'
  'ctrl-cmd-n': 'treecommit:move-treeview-down'
  'ctrl-cmd-enter': 'treecommit:open-treeview-selected'
  'ctrl-cmd-t': 'treecommit:toggle-vcs-unmodified-files'
